doctype
html
    head
        title= "Real time web chat Agent"
        link(rel='stylesheet', href='#{server_ip_address}/agent_css.css')
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
    body
        h3 AGENT CHAT SESSION
        form(action="/" method='post')
            label Usuario:
            input(type="text" name="user_name")
            label Password:
            input(type="text" name="user_pass")
            button(type="submit") Iniciar